{% extends 'home.html' %}

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Screen writing Softwares.</h2>
        <p># filler</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
       <div class="card card-body" >
         <h1>Screen writing Softwares.</h1>
       </div>
      <div class="card card-body">
        <table class="table">
          <tr>
            <th>software name</th>
              <th>price</th>
          </tr>
          {% for sw in obj %}
            <tr>
              <td>{{sw.softwarename}}</td>
              <td>{{sw.price}}</td>
           </tr>
          {% endfor %}
        </table>
      </div>

    </section><!-- End Contact Section -->

{% endblock %}